<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <style>
    body {
      color: white;
    }
  </style>

  <h1>WELCOME TO BOSCO'S TINY APP ¯\_(ツ)_/¯</h1>

  <% if (!username) { %>
    <a href="/login">LOGIN</a>
    <a href="/register">REGISTRATION</a>
  <% } else { %>
     <form class="form-inline" action="/logout" method="POST">
      <div class="form-group mb-2">
        <button type="submit" class="btn btn-primary">LOGOUT</button>
      </div>
    </form>
    <h5>Currently logged in as: <%= username.email %></h5>
  <% } %>
</head>