<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <% include ./partials/_header %>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>

  <style>
    body {
      background: url(https://i.imgur.com/2rIMflI.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  </style>

</head>
<body style="font-size:20px; padding:50px;">
  <ul>
    <li>shortURL: <%= shortURL %> currently links to <%= longURL %></li>
    <!-- Add EJS code here -->
  </ul>
  <p><br> HOWEVER, YOU CAN CHANGE IT :D!!!!</p>
  <form class="form-inline" action="/urls/<%=shortURL%>" method="POST">
    <div class="form-group mb-2">
      <label for="longURL">Enter an updated URL:</label>
      <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <a href="/urls">RETURN TO HOME PAGE</a>
</body>
</html>

<head>

</head>